Repository kieler/klighd-vscode, pull requests merged in 2024-07, with the labels that each got.

#181 Add smart zoom support for top-down layout
  packages/klighd-core/src/depth-map.ts
Labels: enhancement, klighd-core

#183 add lint-fix command to automatically fix linter problems
  package.json
  packages/klighd-core/package.json
  packages/klighd-interactive/package.json
Labels: enhancement

#187 Allow KImages to refer to arbitrary URIs, which will be linked in the SVG
  packages/klighd-core/src/diagram-server.ts
  packages/klighd-core/src/views-rendering.tsx
Labels: enhancement, klighd-core

#188 reuse kimages instead of embedding multiple times.
  packages/klighd-core/src/views-rendering.tsx
Labels: enhancement, klighd-cli
